<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="c:/logs/nlog.log">

	<extensions>
		<add assembly="Altarix.Argus.WebApi"/>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Targets.ElasticSearch"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="ownFile-web" fileName="c:/logs/own-${shortdate}.log" layout="${uppercase:${level}}|${longdate}|${logger}${newline}&#009;${aspnet-Request-Method} ${aspnet-Request-Url}?${aspnet-Request-QueryString}${newline}&#009;&#009;-H 'Profile:${aspnet-Request:Header=Profile}'${newline}&#009;&#009;-H 'Profile-Id:${aspnet-Request:Header=Profile-Id}'${newline}&#009;Message:${message}${newline}&#009;Exception:${exception}" />
		<target xsi:type="File" name="allfile" fileName="c:/logs/all-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />

		<target xsi:type="Null" name="blackhole" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
		<logger name="*" minlevel="Trace" writeTo="elastic" />
	</rules>
</nlog>